<h2>New Author</h2>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/authors" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" value="<%= author.name %>"class="form-control" placeholder="Name" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="url" name="url" class="form-control" placeholder="URL">
                        </div>
                        <div class="form-group">
                            <textarea name="description" rows="2" class="form-control" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">
                                Save
                            </button>
                            <a href="/authors" class="btn btn-danger btn-block">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>